class {{entity.name|capitalize}}
	{% for property in entity.properties %}
	attr_accessor :{{property.name}}
	{% endfor %}
end


	def initialize()

	{% for property in entity.properties %}
    	{% if property is entity %}
      	@{{property.name}} = {{property.name}}
    	{% else %}
       	@{{property.name}}={{property.name}}
    	{% endif %}
  	{% endfor %}

  	end

}